[[source]]

url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"


[packages]

pyzmq = "*"
numpy = "*"
pyqtgraph = "*"
"pyqt5" = "*"
msgpack-python = "*"


[dev-packages]

